body {
  background-image: url("https://media.istockphoto.com/vectors/black-background-vector-id1167050865?k=20&m=1167050865&s=612x612&w=0&h=6Y5kryg08OozU8CBJIYTl5zJkYuiiViVYnsdXbTOQbs=");
}
* {
  margin: 0;
  padding: 0;
}
